body{
        text-align: center;
    }
    /* Some basic styling for demonstration purposes */
    #contactForm {
      max-width: 400px;
      margin: 0 auto;
    }
    #contactForm input,
    #contactForm textarea {
      width: 100%;
      margin-bottom: 15px;
      padding: 8px;
    }
    #contactForm button {
      padding: 10px 20px;
      background-color: #16423C;
      color: white;
      border: none;
      cursor: pointer;
    }
    #contactForm button:hover {
      background-color: #010E09;
    }

    /* Grid layout */
.grid-container {
    display: grid;
    grid-template-columns: 200px 500px 1100px; /* Adjust the ratio of the columns */
    gap: 10px; /* Space between columns */
    height: 600px;
}

.grid-item.logo {
    grid-column: 1; 
    justify-self: start; 
    align-self: end; 
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
    gap: 20px;
}

.logo img {
    width: 30px; 
    height: 30px; 
}